ul,li {
    list-style: none;
}

.clicavel {
    cursor: pointer;
}

.DeleteButton {
    color: #fff;
    font-weight: bold;
    background-color: darkred;
    margin-right: 10px;
    border-radius: 50%;
}